* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
body {
    background-image: url("../images/background2-2.png");
    background-repeat: no-repeat;
    background-position: center -400px;
}
[class*="col_"]{
    padding-left: 15px;
    padding-right: 15px;
}


/* --------------------- Header ---------------------- */

.header {
    height: auto;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
}
.row_header {
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 26px;
    font-weight: bold;
}
.menu {
    display: flex;
}
.menu_item > a {
    padding: 7px 9px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    border: 1px solid transparent;
}
.menu_item a:hover {
    border: 1px solid #448395;
    border-radius: 3px;
    color: snow;
    background-color: #448395;
    transition: linear 0.1s;
}
.social_media_links{
    display: flex;
}
.social_media_links > div {
    margin-left: 10px;
}
.social_media_links > div:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}
.menu_item a.active_page {
    border: 1px solid #448395;
    border-radius: 3px;
    color: snow;
    background-color: #448395;
    transition: linear 0.1s;
}



/* --------------------- Main ----------------------------------- */


.section_title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    color: #eaf0ee9f;
}


/*-------------------- Slogan -------------------*/

.slogan {
    font-family: 'Playfair Display', serif;
}
.slogan_block {
    text-align: center;
    margin: 0 auto 170px;
    padding-top: 45px;
}
.slogan_block h1 {
    font-size: 30px;
}
.slogan_block h2 {
    padding-top: 20px;
    font-size: 18px;
}



/* ------------------- Boards ------------------------------------ */


.boards_slider_block {
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto 0;
}
.boards_slider_block .row {
    display: block
}
.slider_counter {
    position: absolute;
    top: 15px;
    right: 0;
    height: 35px;
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 2.2;
}
.boards .owl-theme .owl-nav{
    margin-top: 0;
    position: absolute;
    top: 50px;
    right: -35px;
}
.boards .owl-theme .owl-nav button {
    height: 35px;
    width: 35px;
    background-color: #f1d700;
    margin: 0;
    border-radius: 0;
    color: white;
    padding: 10px!important;
}
.boards .owl-theme .owl-nav button:hover {
    background-color: #f1c500;
}
.board {
    z-index: 110;
    width: 100%;
    background: linear-gradient(129.5deg, #418f9b 28%, white 28.1%);
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    display: flex;
    flex-wrap: wrap;
}
.board::after {
    content: 'BOARDS';
    z-index: 111;
    display: block;
    font-size: 114px;
    font-weight: bold;
    line-height: .7;
    text-indent: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #eaf0ee;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(178deg);
    -o-transform: rotate(178deg);
    writing-mode: tb-rl;
}

.board_photos{
    height: 100%;
    position: relative;
    z-index: 112;
}
.board_photos img {
    margin: 0 auto;
    display: block;
    max-width: 80%!important;
    max-height: 100%;
}
.board_body {
    z-index: 113;
    padding: 30px 0;
}
.board_title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.board_title h2 {
    padding-right: 30px;
}
.board_characteristics_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.board_characteristics_block h2:hover {
    cursor: pointer;
}
.characteristic_titles {
    padding-bottom: 3px;
    border-bottom: 1px solid #a0a0a0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.title_slider {
    display:inline-block;
    height:4px;
    background-color: #418f9b;
    position:absolute;
    z-index:130;
    bottom: -1px;
    transition:all .2s linear;
}
.characteristic_title_btn {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    color: #a0a0a0;
}
.characteristic_title_btn.active {
    color: black;
    /* border-bottom: 2px solid red; */
}
.characteristic_title_btn:hover {
    cursor: pointer;
    color: black;
}
.characteristic_texts {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.characteristic_text {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    display: none;
    text-align: justify;
}
.characteristic_text.active {
    display: block;
}
.price_block {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.board_price {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.buy_btn {
    margin-left: 40px;
    height: 40px;
    width: 135px;
    border: none;
    background-color: #418f9b;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.buy_btn:hover {
    cursor: pointer;
    background-color: #448395;
}
.view_all_boards_link a{
    text-align: center;
    display: block;
    margin-top: 40px;
    color: #418f9b;
    font-size: 16px;
    text-decoration: underline;
}
.view_all_boards_link a:hover {
    cursor: pointer;
    color: #448395;
}


/* ------------------- About us ------------------------------------ */



.about_us {
    margin-top: 20px;
}
.about_us_background {
    background-image: url("../images/backgroundCut.png");
    background-position: -200px -300px;
    background-repeat: no-repeat;
    background-size: auto 1000px;
}
.about_us_text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 200px;
    margin-left: -20px;
    background-color: white;
    height: 500px;
}
.about_us_text h1, .about_us_text p, .about_us_text a {
    padding-top: 20px;
    padding-left: 14vw;
    padding-right: 20px;
}
.about_us_title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.about_us_title h1 {
    position: relative;
}
.about_us_title h1:after {
    content: "x";
    position: absolute;
    left: 40%;
    top: 135%;
}
.about_us_desc {
    font-size: 22px;
}
.about_us_link a{
    display: block;
    text-decoration: underline;
    color: #418f9b;
}
.about_us_video {
    margin-top: 20px;
}
.about_us_video iframe {
    height: 200px;
    width: 100%;
} 



/* ------------------- Our team ------------------------------------ */


.team_slider_block {
    margin: 0 auto;
}
.employee_card {
    font-family: 'Montserrat', sans-serif;
    height: 280px;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
.employee_card:hover {
    background-color: #418f9b;
}
.employee_photo {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}
.employee_photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.employee_block > div {
    padding: 5px 0;
    text-align: center;
}
.employee_name {
    font-size: 18px;
    color: #418f9b;
}
.employee_card:hover {
    cursor: pointer;
}
.employee_card:hover .employee_name {
    color: white;
}
.employee_nick, .employee_address {
    font-size: 14px;
    color: #8c8c8c;
}
.employee_card:hover .employee_nick, .employee_card:hover .employee_address {
    color: rgba(255, 255, 255, 0.8);
}
.team_slider_block .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #adadad5b;
    height: 32px;
    border-radius: 50%;
}
.team_slider_block .owl-stage {
    margin: 50px 20px;
}



/* ------------------- Blog ------------------------------------ */


.blog {
    margin-bottom: 80px;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 15px;
    margin-bottom: 20px;
}
.post {
    flex-basis: 100%;
}
.post_photo img {
    width: 100%;
    height: 60%;
}
.post_desc p {
    font-family: 'Raleway', sans-serif;
    color: #787878;
    font-size: 16px;
    height: 40%;
    padding: 10px;
}
.post:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.post:hover .post_desc p {
    color: #418f9b;
}
.post_photo:hover {
    cursor: pointer;
}
.all_posts_block {
    margin: 0 auto;
    text-align: center;
}
.all_posts_link{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: #418f9b;
    height: 50px;
    line-height: 50px;
}
.all_posts_link:hover {
    background: #1e7d8b;
}


/* ------------------- Social media ------------------------------------ */


.social_media {
    font-family: 'Montserrat', sans-serif;
}
.instagram_title {
    width: 101.6%;
    height: 40px;
    margin-bottom: -2.2px;
    margin-left: -4px;
}
.instagram_title text {
    font-size: 55px;
    font-weight: bold;
}
#instagramFeed {
    min-height: 570px;
}
.instagram_username {
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 22px 57px;
    font-size: 24px;
    position: relative;
}
.instagram_username a {
    display: block;
    width: max-content;
}
.instagram_username span {
    color: #418f9b;
    font-weight: bold;
    margin-right: 20px;
    vertical-align: middle;
}
.instagram_username::before {
    content: '';
    color: transparent;
    background-image: url(../images/instagram1.png);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 15px;
}
.instagram_gallery::after {
    content: "";
    display: block;
    clear: both;
}
.facebook {
    background: rgb(229,229,229);
    background: linear-gradient(0deg, rgba(229,229,229,1) 50%, rgba(56,84,144,1) 50%);
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.facebook_title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.facebook_widget {
    min-width: 85%;
}


/* ------------------- Footer ------------------------------------ */

.footer {
    font-family: 'Montserrat', sans-serif;
    height: 350px;
    background-color: black;
    margin-top: -200px;
    padding: 45px 0;
}
.footer_links_block {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 53%;
}
.footer_link {
    min-width: 50%;
    margin-bottom: 22px;
}
.footer_link a{
    color: white;
    font-size: 16px;
    padding-left: 30px;
    position: relative;
}
.footer_link a::before {
    content: url(../images/ocean.png);
    display: inline;
    position: absolute;
    left: 0;
}
.footer_link a:hover {
    color: #418f9b;
}
.subscribe_row {
    justify-content: flex-end;
}
.subscribe_block {
    color: white;
    font-size: 20px;
    width: 100%;
}
.subscribe_form {
    position: relative;
}
.email_input {
    display: block;
    margin-top: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #4d4d4d;
    background-color: transparent;
    padding: 10px 40px;
    width: 100%;
    position: relative;
}
.email_label {
    display: inline-block;
}
.email_label::before{
    content: "";
    display: block;
    background: url(../images/mail.png) no-repeat;
    height: 16px;
    width: 16px;
    position: relative;
    top: -27px;
    left: 10px;
}
.email_input[type="text"] {
    color: white;
    font-size: 15px;
}
.send_email_btn {
    background: url(../images/right1.png) no-repeat center;
    border: none;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #418f9b;
    position: absolute;
    right: 8px;
    top: 8px;
}
.send_email_btn:hover {
    cursor: pointer;
}
.copyright {
    font-size: 12px;
    margin-top: 20px;
    color: #4d4d4d;
}

/* _______________ Tablet _______________ */


@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .menu_item {
        font-size: 14px;
    }
    .social_media_links {
        justify-content: flex-end;
    }
    .slogan_block {
        padding-top: 80px;
    }
    .view_all_boards_link a {
        text-align: left;
    }
    .board::after {
        font-size: 100px;
    }
    .about_us_background {
        background-position: -490px -300px;
    }
    .about_us_text {
        margin-left: -120px;
    }
    .about_us_text h1, .about_us_text p, .about_us_text a {
        padding-top: 60px;
    }
    .about_us_title h1:after {
        left: 59%;
        top: 126%;
    }
    .about_us_video {
        margin: 520px auto 0;
    }
    .team {
        padding-top: 40px;
    }
    .post {
        flex-basis: 22%;
    }
    .facebook {
        height: 255px;
        margin: 0 25px;
    }
    .facebook_title {
        font-size: 25px;
        padding-top: 10px;
    }
    .subscribe_block {
        width: 47%;
    }
}



/* _______________ Laptop _______________ */


@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
    .header {
        padding-top: 30px;
    }
    .logo {
        font-size: 34px;
    }
    .menu {
        justify-content: space-between;
    }
    .mobile_menu {
        display: none;
    }
    .slogan_block {
        padding-top: 80px;
    }
    .slogan_block h1 {
        font-size: 50px;
    }
    .slogan_block h2 {
        font-size: 24px;
    }
    .section_title h1{
        font-size: 115px;
    }    
    .about_us_background {
        background-position: center -300px;
    }
    .about_us_text h1, .about_us_text p{
        padding-top: 70px;
    }
    .about_us_video {
        margin: 405px auto 0;
    }
    .about_us_video iframe {
        height: 252px;
        width: 448px; 
    }
    .team_slider_block .owl-carousel div:nth-child(even) {
        z-index: 100;
        margin-top: 30px;
    }
    .team_slider_block .owl-prev {
        position: absolute;
        left: -5%;
        top: 40%;
    }
    .team_slider_block .owl-next {
        position: absolute;
        left: 102%;
        top: 40%;
    }
    .mobile_social_media {
        display: none;
    }
    .social_media_links {
        display: flex;
    }
    .facebook {
        justify-content: space-evenly;
        height: 340px;
    }
    .facebook_title {
        font-size: 40px;
        padding-top: 20px;
    }
    .subscribe_block {
        width: 36%;
    }
}



/* _______________ Desktop _______________ */


@media(min-width:1200px) {
    .container {
        max-width: 1200px;
    }
    .board {
        height: 500px;
    }
    .board::after {
        font-size: 114px;
    }
    .view_all_boards_link {
        margin-top: 100px;
    }
    .about_us_title h1:after {
        left: 60%;
        top: 135%;
    }
    .facebook {
        margin-top: 80px;
        margin-left: 50px;
    }
    .subscribe_block {
        width: 29%;
    }
}



/* _______________ Only mobile _______________ */


@media(max-width:767px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 140;
        padding: 15px 0;
    }
    .header.scrolled, .menu.scrolled {
        background-color: #d4e5e7;
        transition: background-color 200ms linear;
    }
    .boards .owl-theme .owl-nav {
        position: static;
        margin-top: 20px;
    }
    .team .section_title {
        margin: 20px 0;
    }
    .team_slider_block .owl-stage {
        margin: 15px 20px;
    }
    .about_us_text p {
        padding-left: 8vw;
    }
    .about_us_title h1{
        margin-bottom: 40px;
    }
    .about_us_title h1:after {
        left: 55%;
        top: 136%;
    }
    .about_us_desc {
        font-size: 18px;
    }
    .about_us_link a{
        padding-left: 8vw;
    }
    .blog .section_title {
        margin-top: 20px;
    }
    .instagram_username {
        font-size: 20px;
    }
    .instagram_username::before {
        top: 18px;
    }
    .copyright {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .facebook_widget {
        min-width: 280px;
    }
    .footer {
        margin-top: 0;
        position: relative;
    }
    .footer_links_block {
        margin-left: 0;
    }
    .subscribe_block {
        width: 100%;
    }
    .price_block {
        justify-content: space-evenly;
    }
}


/* _________________ Till tablet ____________________ */

@media(max-width: 991px) {
    .social_media_links {
        display: none;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .mobile_menu {
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
    }
    .mobile_menu span {
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.25s ease-in-out;
    }
    .mobile_menu span:nth-child(1) {
        top: 3px;
    }
    .mobile_menu span:nth-child(2) {
        top: 7px;
    }
    .mobile_menu span:nth-child(3) {
        bottom: 2px;
    }
    .navigation {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all 600ms ease-in-out;
        transform: translateY(-150%);
    }
    .hidden_menu {
        opacity: 0;
        visibility: hidden;
    }
    
    /* active menu */
    
    .mobile_menu.active_menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .mobile_menu.active_menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .mobile_menu.active_menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active_menu {
        opacity: 1;
        visibility: visible;
        top: 45px;
        transform: translateY(0);
    }
    .mobile_social_media {
        margin: 10px auto 0;
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    .main {
        margin-top: 0px;
        transition: margin-top 600ms ease-in-out;
    }
    .main_transition {
        margin-top: 200px;
    }
    .footer {
        height: auto;
    }
}
